.nav-top {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  background-color: #e5e9ef;
}

@media (min-width: 900px) {
  .nav-top {
    padding-bottom: 0.5rem;
  }
}

.nav-top .page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 900px) {
  .nav-top .page-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.nav-top ul {
  font-size: 0.875rem;
  margin-bottom: 0;
}

.nav-top ul:first-child {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1rem;
}

@media (min-width: 900px) {
  .nav-top ul:first-child {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 0;
  }
}

.nav-top ul:first-child li {
  margin-right: 0;
}

@media (min-width: 900px) {
  .nav-top ul:first-child li {
    margin-right: 1rem;
  }
}

.nav-top ul:first-child li:last-child {
  margin-right: 0;
}

.nav-top a {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  display: inline-block;
}

@media (min-width: 900px) {
  .nav-top a {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.nav-top a:hover {
  text-decoration: underline;
}

@media (min-width: 900px) {
  .nav-main-wrapper {
    background-color: #002664;
    color: #fff;
  }
}

.nav-main ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-main ul li {
  max-width: none;
  margin: 0;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

@media (min-width: 900px) {
  .nav-main ul.nav-main-level-1 {
    margin-left: -0.5rem;
  }
}

.nav-main a {
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 1rem;
  border-bottom: 1px solid #e6e6e6;
}

@media (min-width: 900px) {
  .nav-main a {
    padding: 0.75rem;
    margin: 0.25rem;
    border-radius: 3px;
    border: 0;
  }
}

.nav-main a:hover {
  color: inherit;
  text-decoration: underline;
}

.nav-main a.is-active {
  background-color: #e5e9ef;
}

.nav-main-has-subnav > a {
  padding-right: 2rem;
}

.nav-main-has-subnav > a::after {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/chevron-down.svg");
  content: '';
  display: inline-block;
  position: absolute;
  top: 1.25rem;
  right: 1rem;
  width: 1rem;
  height: 1rem;
}

@media (min-width: 900px) {
  .nav-main-has-subnav > a::after {
    top: calc(50% - 0.5rem);
    right: 0.5rem;
  }
}

.nav-main-has-subnav.nav-main-level--open > a::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.nav-main-level-1 {
  font-size: 0.875rem;
}

@media (min-width: 900px) {
  .nav-main-level-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 900px) {
  .nav-main-level-1 > .nav-main-has-subnav > a::after {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../images/chevron-down-white.svg");
  }
}

@media (min-width: 900px) {
  .nav-main-level-1 > .nav-main-has-subnav.nav-main-level--open > a::after {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.nav-main-level-1 > li > a {
  margin: 0;
  font-weight: 700;
}

.nav-main-level-1 > li > a.is-active {
  background-color: transparent;
}

.nav-main-level-1 > li:last-child > a {
  border-bottom: 0;
}

.nav-main-level-2, .nav-main-level-3 {
  font-size: 0.875rem;
  display: block;
  visibility: hidden;
  position: relative;
  z-index: 100;
  opacity: 0;
  height: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateX(-0.25rem);
          transform: translateX(-0.25rem);
  -webkit-transition: .25s opacity ease, .25s transform ease, .25s visibility ease;
  transition: .25s opacity ease, .25s transform ease, .25s visibility ease;
  background-color: #fff;
  color: #0d121f;
}

@media (min-width: 900px) {
  .nav-main-level-2, .nav-main-level-3 {
    border-radius: 3px;
    -webkit-box-shadow: 0 0 0.5rem rgba(13, 18, 31, 0.5);
            box-shadow: 0 0 0.5rem rgba(13, 18, 31, 0.5);
    width: 244px;
    position: absolute;
    height: auto;
  }
}

.nav-main-level-2.nav-main--open, .nav-main-level-3.nav-main--open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  height: auto;
  visibility: visible;
}

.nav-main-level-2 > li > a, .nav-main-level-3 > li > a {
  color: #4a4e57;
}

@media (min-width: 900px) {
  .nav-main-level-2 > li > a, .nav-main-level-3 > li > a {
    color: inherit;
  }
}

@media (min-width: 900px) {
  .nav-main-level-2 > li > a:hover, .nav-main-level-2 > li > a.nav-main-item--active, .nav-main-level-3 > li > a:hover, .nav-main-level-3 > li > a.nav-main-item--active {
    background: #e5e9ef;
  }
}

@media (min-width: 900px) {
  .nav-main-level-2 {
    top: 40px;
  }
}

@media (min-width: 900px) {
  .nav-main-level-2 .nav-main-level-2-item.nav-main-has-subnav > a::after {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../images/chevron-right.svg");
  }
}

.nav-main-level-2 > li > a {
  padding-left: 1.5rem;
}

@media (min-width: 900px) {
  .nav-main-level-2 > li > a {
    padding-left: 0.75rem;
  }
}

@media (min-width: 900px) {
  .nav-main-level-2--reverse {
    right: 0;
    left: auto;
  }
}

.nav-main-level-3 {
  z-index: 4;
}

@media (min-width: 900px) {
  .nav-main-level-3 {
    left: 100%;
    top: 0;
  }
}

.nav-main-level-3 > li > a {
  padding-left: 2rem;
}

@media (min-width: 900px) {
  .nav-main-level-3 > li > a {
    padding-left: 0.75rem;
  }
}

@media (min-width: 900px) {
  .nav-main-level-3--reverse {
    left: auto;
    right: 100%;
  }
}

.nav-main-sub-toggle {
  display: none;
}

@media (min-width: 900px) {
  .nav-sidebar {
    max-width: 270px;
  }
}

.nav-sidebar-title {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.nav-sidebar ul {
  font-size: 0.875rem;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-sidebar li {
  position: relative;
  border-bottom: 1px solid #e6e6e6;
  max-width: none;
}

.nav-sidebar a {
  display: block;
  padding: 0.5rem 0;
  color: #0d121f;
  position: relative;
}

.nav-sidebar a.is-active {
  font-weight: 700;
}

.nav-sidebar a:hover {
  text-decoration: underline;
}

.nav-sidebar-has-subnav > a {
  padding-right: 2rem;
}

.nav-sidebar-level--open > button {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.nav-sidebar-level-2, .nav-sidebar-level-3 {
  display: block;
  visibility: hidden;
  height: 0;
}

.nav-sidebar-level-2 a, .nav-sidebar-level-3 a {
  padding-left: 1rem;
}

.nav-sidebar-level-2 li:first-of-type, .nav-sidebar-level-3 li:first-of-type {
  border-top: 1px solid #e6e6e6;
}

.nav-sidebar-level-2 li:last-of-type, .nav-sidebar-level-3 li:last-of-type {
  border-bottom: 0;
}

.nav-sidebar-level-2.nav-sidebar--open, .nav-sidebar-level-3.nav-sidebar--open {
  height: auto;
  visibility: visible;
}

.nav-sidebar-level-3 a {
  padding-left: 2rem;
}

.nav-sidebar-sub-toggle {
  position: absolute;
  top: 3px;
  right: 0;
  border: 0;
  padding: 0;
  margin: 0;
  height: 2rem;
  width: 2rem;
}

.nav-footer-menu,
.nav-footer-menu ul {
  font-size: 0.875rem;
}

.nav-footer-menu > li > a {
  font-weight: 700;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.nav-footer-bottom {
  border-top: 1px solid #0d121f;
  padding-top: 1rem;
  margin-top: 3rem;
}

@media (min-width: 900px) {
  .nav-footer-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.nav-footer-bottom ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0.75rem;
  margin-bottom: 0;
}

@media (min-width: 900px) {
  .nav-footer-bottom ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.nav-inline {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

@media (min-width: 900px) {
  .nav-inline {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.nav-inline ul {
  font-size: 0.875rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: -1px;
  width: 100%;
}

@media (min-width: 900px) {
  .nav-inline ul {
    border-bottom: 0;
    margin-right: auto;
    width: auto;
  }
}

.nav-inline a {
  display: inline-block;
  padding: 1rem 0;
}

.nav-inline a:hover {
  text-decoration: underline;
}

.nav-inline .active {
  font-weight: 700;
  color: #0d121f;
  border-bottom: 2px solid;
  cursor: default;
}

.nav-inline .active:hover {
  text-decoration: none;
}

.nav-inline .form-group {
  padding: 0.5rem 0;
  margin-bottom: 0;
  border-top: 1px solid #e6e6e6;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 900px) {
  .nav-inline .form-group {
    padding: 0;
    border-top: 0;
    width: auto;
  }
}

.nav-inline select {
  min-width: 200px;
}

.nav-inline label {
  font-size: 0.875rem;
}

/*# sourceMappingURL=navigation.css.map */
