<ul class="list-row">
  <li>
    <span>{{content.title}} 
    {#<span class="text-muted">(PDF)</span>#}
    </span>
    <span class="flex-shrink-0 ml-1">
     
      {#<a class="btn btn-primary btn-icon-left icon--download-white" href="javascript:void(0)">{{}}</a>#}
      {{content.file}}
    </span>
  </li>
 
</ul>

