{%
  set classes = [
    'bef-links','row','my-3','list-inline'
  ]
%}
<nav class="nav-inline px-md-4 mb-3">
<input type="hidden" name="{{ element["#name"] }}" value="{{ element["#value"] }}" />
<ul{{ attributes.addClass(classes) }}>
  {% set current_nesting_level = 0 %}
  {% for child in children %}
    {% set item = attribute(element, child) %}
    {% if child in selected %}
      {% set item = item|merge({'#attributes': {'class': 'active'}}) %}
    {% endif %}
    {% if isNested %}
      {% set new_nesting_level = attribute(depth, child) %}
      {% include '@better_exposed_filters/bef-nested-elements.html.twig' %}
      {% set current_nesting_level = new_nesting_level %}
    {% else %}
      <li>{{ item }}</li>
    {% endif %}
  {% endfor %}
</ul>
</nav>