<nav class="breadcrumb-wrapper {{ modifier_class }}" aria-label="You are here">
  <div class="page-container">
    <ol class="breadcrumb">
      {% for item in breadcrumb %}
        {% if item.url %}
          <li class="breadcrumb-item">
            <a href="{{ item.url }}">{{ item.text }}</a>
          </li>
        {% else %}
          <li class="breadcrumb-item" aria-current="page">{{ item.text }}</li>
        {% endif %}
      {% endfor %}
    </ol>
  </div>
</nav>